/* app css stylesheet */

body {
  background: url('../img/bg.png') repeat scroll 0 0;
  padding-top: 0;
}

h1, h2, h3 {
	font-weight: normal !important;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

input {
	height: 30px !important;	
}

label {
	display: block;
}

.small-text {
	font-size: 14px;
}


/**
 * Layout
 */
.menu {
	position: fixed; 
	top: 0; 
	padding-top: 10px;
	height: 30px;
	width: 100%;
	box-shadow: 1px -4px 12px #222222;
	background-color: #1B1B1B;
    background-image: linear-gradient(to bottom, #222222, #111111)
}
.menu ul {
	list-style: none;
}
.menu li {
	float: left;
	color: white;
	margin-right: 40px;
}
.menu li a {
	color: white;
}
.menu li a:hover {
	color: #0088CC;
}

.content {
	padding-top: 30px;
	background-color: white;
    box-shadow: 0 1px 5px #777777;
}


/**
 * List
 */
.cvList {
	margin-top: 30px;
}

.cvList table {
	margin-top: 15px;
}



/**
 * Edit form
 */
#editCvForm legend {
	margin-bottom: 20px;	
}
#editCvForm legend i {
	margin-right: 5px;
    margin-top: 5px;
}

#editCvForm fieldset {
	margin-top: 30px;
	padding-bottom: 11px;
}
#editCvForm fieldset:hover {
    background-color: #FDFDFD;
    border-bottom: 1px dashed #DDDDDD;
    margin-top: 30px;
    padding-bottom: 10px;
}

#editCvForm label {
	margin-top: 7px;	
}

#editCvForm .img-profile {
	width: 180px;
	height: 180px;
	border-radius: 110px;
	border: 1px solid #ddd;
	padding: 4px;
	margin-right: 35px;
	margin-top: 40px;
}