<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="hibernate.cache.use_structured_entries">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <!--Security classes --> 
		<mapping class="coop.tecso.core.security.model.SecurityUser"/>
		<mapping class="coop.tecso.core.security.model.Role" />

		<!-- current APP model clases-->
                <!--  <mapping class="coop.tecso.asociados.cv.model.Classname.class" /> -->		
		
    </session-factory>
</hibernate-configuration>
