
<div class="cvList" ng-controller="ListCrtl">

	<h1>Curriculums almacenados</h1>
	<h3 class="muted">CVs disponibles para ser editados</h3>

	<table class="table table-hover list-table">
		<thead>
			<tr>
				<th>Name</th>
				<th class="span1">
					<input type="text" class="search-query pull-right" ng-model="query" placeholder="Search">
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users | filter:query">
				<td>{{user.name}}</td>
				<td style="text-align:right"><a class="btn btn-success" href="#/cv/{{user.username}}">Edit</i></td>
			</tr>
		</tbody>
	</table>
</div>